*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preview-container{
    width: 100%;
    height: 100dvh;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 2vw;
    overflow: auto;
}
.preview-a4{
    width: 90%;
    aspect-ratio: 1 / 1.414;
    transform-origin: top-left;
    background-color: white; 
    box-shadow: 0 0 10px gray;
    padding: 2rem;
}

.personalData-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.personalData-contact, .personalData-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & >*:not(:first-child)::before {
        content: "|";
        margin: 0 1vw;
        font-size: 1vw;
    }

    & .link-wrapper{
        display: flex;
        gap: 1vw;
    }
    & .icon{
        width: 1vw;
        height: 1vw;
    }
}
h1{
    font-size: 3vw;
    margin-bottom: 1vw;
}
h2{
    font-size: 1.5vw;
}
p{
    font-size: 1vw;
    text-align: left;
}

.experience-container{
    padding: 1rem 0;
}
.section-title {
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1.5px solid black;
    margin-bottom: 1vw;

}
.line{
    font-size: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3vw;
    margin-top: 0.5vw;
}
.bold{
    font-weight: bold;
}
.duties{
    font-size: 0.6rem;
    margin: 0.2rem 0;
    & >p{
        width: 100%;
        text-align: left;
        &::before{
            content: "-";
            margin-right: 5px;
        }
    }
}


.skills-container{
    padding: 1rem 0;
}
.skills-title {
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: left;
    padding-bottom: 0.2rem;
    border-bottom: 1.5px solid black;

}
.skills-line{
    font-size: 1vw;
    display: flex;
    align-items: center;
    padding: 0.2rem 0;
}
.bold{
    font-weight: bold;
}
.skills-content{
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    gap: 15px;
    & >p{
        display: flex;
        align-items: center;
        &::before{
            content: "•";
            font-size: 1.5vw;
            margin-right: 2px;
        }
    }
}